.about {
    height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;
}

.aboutContainer {
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;
}

.fadeIn {
    opacity:1 !important;
}

.picContainer {
    opacity:0;
    margin-top:10%;
    transition: opacity 2s linear;
}

.picShadow {
    height:110px;
    border: 6px solid $backgroundPicture;
    background-color: $backgroundPicture;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.pic {
    margin-top:10%;
    height:128px;
    width:128px;
    background-image: url('../Assets/images/picture_Gwenael_phone.png');
    background-repeat:no-repeat;
}

img {
    filter: drop-shadow(0px 4px 4px 0px rgba(0,0,0,0.25));
}

.textAbout {
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items:center;
    text-align:center;
    width:90%;
    height:80%;
}

.textAbout > * {
    font-size:$mobileMediumFont;
}

.textAbout > p > span {
    color: $red;
}

.aboutContact {
    font-size:$mobileSmallFont;
}

@media screen and (orientation:landscape) {

    .picContainer {
        margin-top:0;
        margin-bottom:10%;
    }

    .aboutContainer {
        flex-direction:row;
    }
    .textAbout {
        font-size:$mobileSmallFont;
        width:50%;
    }
}

@media screen and (min-width: $minWidthLandScapeTablette ) {
    .textAbout {
        font-size:$mobileBigFont;
    }

    .picShadow {
        height:180px;
    }
    .pic {
        height:160px;
        width:160px;
        background-image: url('../Assets/images/picture_Gwenael_tablet.png');
    }
}