
.footer {
   height:30vh;
   width:100vw;
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content: space-around;
   background-color:$cyan;

  
}

.diagonal {
    width:100%;
    height:10vh;
    background-color:$cyan;
    transform:skewY(-11deg);
}

.contactContainer {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    > span {
        z-index:1;
        color:$defaultColor;
        text-align:center;
   }
}

.socialMediaContainer {
    display:flex;
    flex-direction:row;
}

.socialMediaSquare {
    position:relative;
    width:50px;
    height:50px;
    background-color: $defaultColor;

    &:nth-child(1) {
        margin-right:25px;
    }

    &:nth-child(2) {
        margin-left:25px;
    }
}

.icon {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    height:40px;
    width:40px;
    fill:$white;
}