.hamburgerContainer {
    position:fixed;
    top:5%;
    right:10%;
    align-self: flex-end;
    width:40px;
    height:32px;
    cursor:pointer;
    z-index:2;

    & span {
        display:block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        border-radius:3px;
        background-color:$white;
        z-index:2;
        opacity:0.7;
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property:transform, opacity, background-color;
    }

    & :nth-child(1).open {
        bottom:-10px;
        transform:rotate(-45deg);
    }
    & :nth-child(2).open {
        transform: translate3d(-10,-10px,0);
        opacity: 0;
    }
    & :nth-child(3).open {
        top:-8px;
        transform:rotate(-135deg);
    }
}

.navBarMenu {
    position:fixed;
    overflow:hidden;
    top:0;
    right:0;
    height:100vh;
    width:100vw;
    opacity:0;
    z-index:-1;
    background-color:$defaultColor;
    transition: opacity 0.3s ease-out ;
}

.navBarActive {
    overflow:hidden;
    opacity:100%;
    z-index:1;
}

.navBarActive ~ body {
    overflow:hidden;
}

.navBarLink {
    height:100%;
    display:flex;
    & ul {
        margin-top:33%;
        margin-bottom:33%;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
        width:100%;
        list-style-type: none;
    }

    & a {
        display:block;
        text-decoration:none;
        color:$white;
        letter-spacing:0.15em;
        transition: 0.3s all ease-in-out;
        width:193px;
        height:44px;
        text-align:center;
        line-height:44px;
        &:hover {
            display:block;
            content:"";
            background-color:$red;
            border-radius:3px;
            box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
            text-align:center;
        }
       /* &::after {
            background: none repeat scroll 0 0 transparent;
            content:"";
            display:block;
            height:2px;
            background:#9ad3de;          ;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width:0;
        }
        */
        /*
        &:hover:after {
            width:100%;
            left:0;
        }
        */

    }
}