.hamburgerContainer {
    position:fixed;
    top:5%;
    right:10%;
    align-self: flex-end;
    width:40px;
    height:32px;
    z-index:4;
    width:40px;
    height:32px;
    cursor:pointer;

    & span {
        display:block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        border-radius:3px;
        background-color:$white;
        z-index:2;
        opacity:0.7;
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property:transform, opacity, background-color;
    }

    & :nth-child(1).open {
        bottom:-10px;
        transform:rotate(-45deg);
    }
    & :nth-child(2).open {
        transform: translate3d(-10,-10px,0);
        opacity: 0;
    }
    & :nth-child(3).open {
        top:-8px;
        transform:rotate(-135deg);
    }
}

.navBarMenu {
    position:fixed;
    overflow:hidden;
    top:0;
    right:0;
    opacity:0;
    height:100vh;
    width:100vw;
    z-index:-1;
    background-color:$defaultColor;
    transition: opacity 0.3s ease-out ;
}

.navBarActive {
    overflow:hidden;
    opacity:1;
    z-index:3;
}

.navBarLink {
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;

    & ul {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: space-between;
        width:100%;
        height:50%;
        list-style-type: none;
    }

    & a {
        cursor:pointer;
        display:block;
        text-decoration:none;
        color:$white;
        letter-spacing:0.15em;
        transition: 0.3s all ease-in-out;
        width:193px;
        height:44px;
        text-align:center;
        line-height:44px;
        &:hover, &.active {
            display:block;
            content:"";
            background-color:$red;
            color:$white;
            border-radius:3px;
            box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
            text-align:center;
        }
       /* &::after {
            background: none repeat scroll 0 0 transparent;
            content:"";
            display:block;
            height:2px;
            background:#9ad3de;          ;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width:0;
        }
        */
        /*
        &:hover:after {
            width:100%;
            left:0;
        }
        */
    }
}


@media screen and (orientation:landscape) {

    .navBarLink > ul {
        height:100%;
        justify-content: center;
    }
}


@media screen and (min-width: $minWidthTablet ) and (min-height: $minWidthTablet)  {

    .navBarActive {
        right:0;
        transition:all 0.6s cubic-bezier(0.87, 0, 0.13, 1) ; 
    }

    .navBarClosed {
        right:-50%;
        transition:all 0.8s cubic-bezier(0.87, 0, 0.13, 1) ; 
    }

    .open {
        background-color:$defaultColor !important;
    }

    .hamburgerContainer {
        display:flex;
        right:120px;
        align-items:center;
        flex-direction:column;
    }
    
    .navBarMenu {
        width:280px;
        background-color:$white;
        color:$defaultColor;
    }

    .navBarLink {
        & ul {
            margin-top:50%;
            margin-bottom:50%;
            justify-content: space-between;
        }

        & li {
            width:100%;
            display:flex;
            flex-direction:column;
            align-items:center;
        }

        & li > a {
            color:$defaultColor;
            font-size:$mobileBigFont;
            width:80%;
        }
    }
}

@media screen and (min-width: $minWidthLaptop) {
    .hamburgerContainer {
        transition:transform 0.3s ease-in;
        &:hover {
            transform:translate(0, -2px);
        }
    }
}