
@import './import/colors';
@import './import/font';
@import 'navMenu';
@import 'home';

* {
  margin:0;
  padding:0;
}

body {
  background-color:$defaultColor !important;
  font-family: $defaultFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh !important;
}

hr {
  border-top: 3px solid black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.noPadding {
  padding: 0 !important;
}

.noMargin {
  margin:0 !important;
}

a, a:visited, a:hover {
  text-decoration:none !important;
  color:$white !important;
}

button {
  position:relative;
  border:1px solid$red;;
  display: inline-block;
  width:271px;
  height:44px;
  color:$white;
  font-size:20px !important;
  text-align:center;
  transition: all 0.5s;
  z-index:1;
  overflow:hidden;
  background-color:transparent;
  border-radius:12px !important;

  &:after {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    background-color:$defaultColor;
    z-index:-2;
    border-radius:12px !important;
  }
  &:before {
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:0%;
    height:100%;
    background-color:$red;
    transition: all 0.3s;
    border-radius:12px !important;
    z-index:-1;
  }

  &:hover {
    color:$white;
    &:before{
      width:100%;
    }
    svg {
      transform:rotate(90deg);
    }
  }

  &:active, &:focus {
    outline:0 !important;

  }

  svg {
    position:absolute;
    right:5%;
    top:25%;
    transition: 0.3s all;
  }
}