@import './import/breakpoint';
@import './import/keyframes';
@import './import/colors';
@import './import/font';
@import './import/mixin';
@import './import/button';
@import 'navMenu';
@import 'home';
@import 'about';
@import 'work';
@import 'projects';
@import 'contact';
@import 'footer';

* {
  margin:0;
  padding:0;
  scroll-behavior: smooth;
  font-family: $defaultFontFamily;
}


body {
  background-color:$defaultColor !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh !important;
  overflow:auto;
  height:100vh;
  width:100vw;
  overflow-x:hidden !important;
  scroll-behavior: smooth;
}

span {
  font-family: $defaultFontFamily;
}


hr {
  border-top: 3px solid black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.maxSize {
  height:100vh;
  width:100vw;
  margin:0;
  padding:0;
}

.noPadding {
  padding: 0 !important;
}

.noMargin {
  margin:0 !important;
}


a, a:visited {
  text-decoration:none !important;
  color:$white;

  &:hover {
    color:$white !important;
  }
}

.centerComponent {
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.hoverLink:hover {
  text-decoration:underline;
}

h1 {
  position:relative;
  color:$yellow;

  &::after {
    content:'';
    display:block;
    width:50%;
    height:3px;
    background-color:$yellow;
    box-shadow:none;
    border:none;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    margin-top:5%;
    border-radius:3px;
  }
}

h2 {
  color:$white;
}

canvas {
  z-index:0;
  width: 100%;
  height: 100%;
  background: $defaultColor;
  position: absolute;
}