
@import './import/colors';
@import './import/font';
@import './import/button';
@import 'navMenu';
@import 'home';
@import 'about';
@import 'work';

* {
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}

body {
  background-color:$defaultColor !important;
  font-family: $defaultFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh !important;
  scroll-behavior: smooth;
}

hr {
  border-top: 3px solid black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.maxSize {
  height:100vh;
  width:100vw;
  margin:0;
  padding:0;
}

.noPadding {
  padding: 0 !important;
}

.noMargin {
  margin:0 !important;
}


a, a:visited {
  text-decoration:none !important;
  color:$white;

  &:hover {
    color:$white !important;
  }
}

.centerComponent {
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.hoverLink:hover {
  text-decoration:underline;
}