$smallWidth: '330px';
$minWidthSmartphone: '421px';
$maxWidthSmartphone: '767px';
$minWidthTabletForProject: '700px';
$minWidthTablet: '768px';
$maxWidthTablet:'1023px';
$minWidthLandScapeTablette: '1024px';
$maxWidthLandScapeTablette: '1365px';
$minWidthLaptop: '1224px';
$minWidthMonitor: '1920px';
$fourKMonitor: '3840px';

$minHeightMobile:'720px';