button {
  outline: none;
  border:none;
}

.btn {
    position:relative;
    border:1px solid$red;;
    display: inline-block;
    width:271px;
    height:44px;
    color:$white;
    font-size:$mobileMediumFont;
    text-align:center;
    transition: all 0.5s;
    z-index:1;
    overflow:hidden;
    background-color:transparent;
    border-radius:12px !important;
    line-height:44px;
  
    &:after {
      content:'';
      position:absolute;
      bottom:0;
      left:0;
      width:100%;
      height:100%;
      background-color:$defaultColor;
      z-index:-2;
      border-radius:12px !important;
    }
    &:before {
      content:'';
      position:absolute;
      bottom:0;
      left:0;
      width:0%;
      height:100%;
      background-color:$red;
      transition: all 0.3s;
      border-radius:12px !important;
      z-index:-1;
    }
  
    &:hover {
      color:$white;
      &:before{
        width:100%;
      }
      svg {
        transform:rotate(90deg);
      }
    }
  
    &:active, s {
      outline:0 !important;
  
    }
  
    svg {
      position:absolute;
      right:5%;
      top:25%;
      transition: 0.3s all;
    }
  }

.btn-small {
  width: 135.5px;
  font-size: $mobileVerySmallFont;
}

.btnLink, .btnUnselect {
  display:block;
  text-decoration:none;
  color:$white;
  letter-spacing:0.15em;
  transition: 0.3s all ease-in-out;
  width:120px;
  height:30px;
  line-height:30px;
  text-align:center;
  font-size:15px;
  color:$white;
  text-align:center;
}

.btnLink {
    background-color:$red;
    border-radius:3px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
}

.btnUnselect {
  background-color:transparent;
  box-shadow:none;
}
