$defaultColor: #12151F;
$silverGrey: #DAD6D6;
$white: #F7F4E9;
$red: #A61C3C;
$brown: #694A38;
$yellow: #f4ac45;
$darkBlue: #1A1F2E;
$cyan: #92BFB1;
$backgroundPicture: #0C0F16;

.yellow {
    color: $yellow !important;
}

span, h1 {
    color:$red;
}

p {
    color:$white;
}