@font-face {
    font-family: "Gothic A1";
    src: url("../../Assets/fonts/GothicA1-Regular.ttf") format("ttf");
   }

$defaultFontFamily: "Gothic A1", sans-serif !important;

$mobileBigFont: 1.5625em;
$mobileMediumFont: 1.25em;
$mobileSmallFont: 0.9375em;
$mobileVerySmallFont: 0.75em;